.container {
  background-color: #e4e4e4;
  height: 300vh;
  font-family: "DM sans";
}

.topbar {
  background-color: #ffffff;
  box-shadow: 66px 22px 42px 0px rgba(199, 199, 199, 0.05),
    29px 10px 31px 0px rgba(199, 199, 199, 0.09),
    7px 2px 17px 0px rgba(199, 199, 199, 0.1);
  height: 5vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
  font-family: "DM sans";
}

.main {
  font-family: "DM sans";
}
